<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Add Resource</title>
  </head>
  <body>

    <div class="container mt-3">    
        <form action="/resource/add" method="post" enctype="multipart/form-data">
            
            <input type="text" name="name" class="" placeholder="name">
            <input type="text" name="delivery" class="" placeholder="delivery">
            <input type="text" name="set_name" class="" placeholder="set name">

            <input type="text" name="bid_strategy" class="" placeholder="bid strategy"> 
            <input type="text" name="budget" class="" placeholder="budget">
            <input type="text" name="results" class="" placeholder="results">

            <input type="text" name="impressions" class="" placeholder="impressions">
            <input type="text" name="cost_per_result" class="" placeholder="COP">
            <input type="text" name="add_to_cart" class="" placeholder="add to cart">

            <input type="text" name="purchases" class="" placeholder="purchases">
            <input type="text" name="amount_spent" class="" placeholder="amount spent">
            <input type="text" name="purchase_con_val" class="" placeholder="purchase conversions value">

            <input type="text" name="purchase_roas" class="" placeholder="purchase ROAS">
            <input type="text" name="unique_link_click" class="" placeholder="unique link click">
            <input type="text" name="cpc" class="" placeholder="cpc">

            <input type="text" name="company_name" class="" placeholder="company name">
            <input type="date" name="ship_date" class="" placeholder="ship date">
            <input type="text" name="status" class="" placeholder="status">

            <input type="text" name="type" class="" placeholder="type">
            <input type="file" name="blogimage" >

            <button type="submit"  class="btn btn-sm btn-success">
                ADD
            </button>

        </form>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>